<html>
    <head>
        <title>Blog da garota no início da programação</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Girls in Programming</a></h1>
        </div>

        <div>
            <p>publicado: 13.02.2025, 17:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>    Bom, quando estamos no início de algo que nos faz brilhar os olhos, ficamos bastante animados. Temos um certo prazer em procurar, ler e assistir sobre aquele assunto que tanto nos interessa. Porém, quando nos deparamos com tantas palavras desconhecidas, termos em inglês e situações que não fazem parte do nosso cotidiano, temos aquele impacto: Bum! Será que eu consigo?
                Então começamos a questionar a nossa capacidade. Estamos perdidas. E várioas questionamentos vem à mente: Por onde eu começo? O que eu tenho que saber primeiro? Como que resolve isso? O que isso significa? Todas essas dúvidas, entre outras, começam a surgir, e nos abatemos ao ponto de desistir.
                Mas este pequeno post, neste teste de blog, é a mais pura prova para mostrar a você que pensou: Eu não consigo! que é possível, e você só precisa ter a direção certa. Qual a sua motivação? Tenha constância e convicção naquilo que te motiva. E vamos lá! Avante!
            </p>
        </div>

        <div>
            <p>publicado: 13.02.2025, 17:45</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>    Eu ainda não sou uma programadora. Mas vou deixar registrado todos os passos que eu segui para conseguir chegar lá.
                Vou atualizar esse blog com o passo a passo que eu intitulei: caminho para o desenvolvimento. Bonitinho, né? 
                No próximo post, vou ter todos os passos até o dia de hoje descrito, daí eu escrevo aqui. Mas deixando bem claro, para todos os leitores, que esses passos vão compreender a minha caminhada, ou seja, programadora backend desenvolvendo com Python. 
                Você vai poder se basear nos passos e trocar para a área ou linguagem que mais te atrair. 
            </p>
        </div>
    </body>
</html>